{% extends "layout.jinja2" %} 

{% block content%}
<div class="container">

    <h3 class="titles">Create Your video</h3>

    <form  action="/create_video" method="post">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter the title of your video">
        </div>
        <div class="form-group">
            <label for="theme">Theme</label>
            <input type="text" class="form-control" id="theme" name="theme" placeholder="Enter the name of the theme">
        </div>

        <button type="submit" class="btn btn-primary" name="form.post" type="submit" value="Create">Submit</button>
    </form>

    <h3 class="titles">Videos List</h3>

    {% for entry in videos %}


    <div class="card" style="width: 800px">
        <img class="card-img-top" src="/static/video.png">
        <div class="card-body">
            <h4 class="card-title">{{entry.name}}</h4>
            <p class="card-text">Theme: {{entry.theme}}</p>
            <p class="card-text">Likes: {{entry.thumbs_up}}</p>
            <p class="card-text">Dislikes: {{entry.thumbs_down}}</p>
            <form method="post">

                <input type="hidden" name="name" value={{entry.name}}>
                <input type="hidden" name="action" value="1">
                <input type="submit" value="Thumbs Up" class="btn btn-primary thumbs">
            </form>

            <form method="post">

                <input type="hidden" name="name" value={{entry.name}}>
                <input type="hidden" name="action" value="2">
                <input type="submit" value="Thumbs Down" class="btn btn-primary thumbs">
            </form>

        </div>
    </div>


    {% endfor %}
</div>
{% endblock content %}

