{% extends "layout.jinja2" %} 

{% block content%}
<div class="container">

    <h3 class="titles">Ranking of Themes</h3>

    {% for entry in ranking %}


    <div class="card" style="width: 800px">
        <div class="card-body">
            <h4 class="card-title"> Theme: {{entry.theme}}</h4>
            <p class="card-text"> Score: {{entry.score}}</p>
        </div>
    </div>

    {% endfor %}
</div>


{% endblock content %}
