{% extends "layout.jinja2" %} 

{% block content%}
<div class="container">
    <h1>Themes</h1>
    <h3>List of video themes</h3>

    <button><a href="?action=1">Thumbs up</a></button>
</div>


{% endblock content %}
