{% extends "layout.jinja2" %} 

{% block content%}
<div class="container">

    <h1>Videos</h1>
    <h2>Teste</h2>
    {% for entry in videos %}
    <div>
        <h3>Video</h3>
        <p>{{entry.video_name}}</p>
        <p>{{entry.video_theme}}</p>
    </div>

    {% endfor %}
</div>
{% endblock content %}
